Q.1.

Ans

1. Data Definition Language (DDL)

DDL commands are used to define, change, or delete the structure or schema of database objects (like tables, indexes, and users). They deal with how the data is stored, not the data itself. Changes made by DDL commands are automatically committed to the database and cannot be rolled back.
Key characteristics:
Defines the database schema.
Affects the structure of tables and other objects.
Operations are permanent and immediate.

Example command: CREATE

    CREATE TABLE Students (
    StudentID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Grade INT
      );

2. Data Manipulation Language (DML)

DML commands are used for managing the data stored within the database structures defined by DDL. These commands perform operations like inserting, modifying, or deleting records (rows) in a table. DML operations can be rolled back using a ROLLBACK command, making them transaction-oriented.
Key characteristics:
Manages the data within the defined schema.
Deals with rows (records).
Operations are transactional and can be rolled back.

Example command: INSERT

    INSERT INTO Students (StudentID, FirstName, LastName, Grade)
    VALUES (1, 'John', 'Doe', 10);


      
  3. Data Query Language (DQL)

DQL commands are purely for retrieving data from the database. The primary DQL command is SELECT. It does not modify data or the database structure; it only reads information based on specified criteria.
Key characteristics:
Retrieves data from the database.
Does not modify data or structure.
Focuses purely on reading information.
Example command: SELECT


    SELECT FirstName, LastName FROM Students WHERE Grade = 10;

Q.2.

Ans

    1. NOT NULL

- Description:
This constraint ensures that a column cannot have a NULL value. It forces a field to always contain a value, meaning you cannot insert a new record or update a record without adding data to this field.
- Scenario:
In a Customers table, the Email column should be mandatory because it is the primary way the business communicates with its clients. Applying a NOT NULL constraint to the Email column guarantees that every single customer record has contact information, preventing scenarios where a customer signs up but cannot be reached.

      2. UNIQUE

- Description:
The UNIQUE constraint ensures that all values in a column are different. Unlike the PRIMARY KEY, which also enforces uniqueness, a table can have multiple UNIQUE constraints [2, 3].
- Scenario:
In a Products table, you might use a unique Stock Keeping Unit (SKU) for each item. While an auto-incrementing Product ID might serve as the primary key, the SKU column must also be unique to ensure inventory systems can precisely identify each product without confusion. The UNIQUE constraint prevents two different products from being assigned the same SKU.

      3. CHECK

- Description:
The CHECK constraint limits the value range that can be placed in a column. If you try to insert or update a value that does not satisfy the check condition, the system will raise an error [2].
- Scenario:
In an Employees table, you might need to ensure that the Age of any employee entered into the system is 18 or older to comply with labor laws. A CHECK constraint can be applied to the Age column to enforce that the value is always >= 18, preventing the entry of records for underage workers.

Q.3.

Ans

    1. The LIMIT Clause

The LIMIT clause is used to constrain the number of rows returned by the query to a specified maximum value.
Purpose: To set the size of the result set, effectively defining your "page size."
Function: It dictates how many records the database should stop fetching after.
Example: LIMIT 10 ensures the query returns at most 10 rows.

    2. The OFFSET Clause

The OFFSET clause is used in conjunction with LIMIT. It specifies the number of rows to skip before starting to count the rows to return.
Purpose: To define the starting point of the result set, enabling navigation deeper into the total results.
Function: It jumps past a specified number of initial records.
Example: OFFSET 20 tells the query to ignore the first 20 records retrieved before applying the LIMIT.

    SELECT column_name(s)
    FROM table_name
    ORDER BY sort_column ASC
    LIMIT 10 OFFSET 20;

Q.4.

Ans

     1. Improved Readability and Maintenance

CTEs break down complex, multi-step queries into smaller, more manageable, and readable blocks. Instead of deep nesting of subqueries (which can become difficult to follow), CTEs use a linear, top-down structure that is easier to debug and maintain.

      
    2. Enables Recursion

The most powerful feature of CTEs is their ability to reference themselves. This allows SQL queries to traverse hierarchical data structures, such as organizational charts (employee/manager relationships) or bill-of-materials listings, which is difficult or impossible to do efficiently with standard SQL subqueries.

    3. Encapsulation and Reusability within a Single Query

A CTE can be referenced multiple times within the immediate subsequent main query, preventing redundant calculations or repeated logic. The results of the CTE are essentially calculated once and reused.

    4. Alternative to Views
For logic that is only needed temporarily within a single script, a CTE provides the organizational benefits of a database VIEW without requiring permanent schema changes or database permissions to create permanent objects.


    -- 1. Define the CTE named 'CustomerOrderCounts'
    WITH CustomerOrderCounts AS (
        SELECT
            CustomerID,
            COUNT(OrderID) AS TotalOrders
        FROM
            Orders
        GROUP BY
            CustomerID
    )
    -- 2. Use the CTE in the main SELECT statement
    SELECT
        C.CustomerName,
        COC.TotalOrders
    FROM
        Customers AS C
    JOIN
        CustomerOrderCounts AS COC ON C.CustomerID = COC.CustomerID
    WHERE
        COC.TotalOrders > 5
    ORDER BY
        COC.TotalOrders DESC;

Q.5.

Ans

Primary Goals of Normalization

The main objectives of normalizing a database schema are:

1. Eliminate Data Redundancy: Storing the same piece of information in multiple places wastes storage space and makes the database harder to maintain. Normalization aims to store every fact exactly once.

2. Ensure Data Integrity: By removing redundancy, updates become simpler and less error-prone. If data is stored in only one location, you only need to update it once to ensure consistency everywhere.
3. Avoid Anomalies: Normalization helps prevent common database anomalies:
 - Insertion Anomaly: Inability to add new data without existing associated data (e.g., adding a new course without enrolling a student).
 - Update Anomaly: Having to update multiple rows to change a single piece of data (e.g., updating a professor's office number in 20 different rows).
 - Deletion Anomaly: The unintentional loss of data when a related record is deleted (e.g., deleting the last student enrolled in a course, thereby deleting all records of the course itself).

The First Three Normal Forms (1NF, 2NF, 3NF)

Normalization progresses through several stages. The first three are the most common and practical for typical business applications.

1. First Normal Form (1NF)

1NF sets the most basic rules for a relational database.
- Rule: A table is in 1NF if every column contains only atomic (indivisible) values, and there are no repeating groups of columns.
- Concept: Each cell in the table must contain exactly one value, and you cannot have a single column holding a list of items (e.g., a Phone_Numbers column with "555-1234, 555-5678").
- Example Correction: A table that stores multiple skills in one column (Skills: "SQL, Python, Java") would be split so that each skill has its own row or linked table.
  
2. Second Normal Form (2NF)

2NF builds upon 1NF.
- Rule: A table is in 2NF if it is in 1NF, and all non-key attributes are fully dependent on the entire primary key.
- Concept: This rule applies primarily to tables with a composite primary key (a key made of two or more columns). If a column's value depends on only part of the key, that column should be moved to a separate table.
- Example Correction: In an OrderDetails table where the composite key is (OrderID, ProductID), the ProductPrice should be moved to a separate Products table, because the price depends only on the ProductID, not the OrderID.

3. Third Normal Form (3NF)

3NF builds upon 2NF and is generally considered the goal for most database designs.
- Rule: A table is in 3NF if it is in 2NF, and there are no transitive dependencies. A non-key attribute should not depend on another non-key attribute.
- Concept: Every non-key column should depend only on the primary key, and nothing else.
- Example Correction: In an Employees table, if DepartmentName is dependent on the DepartmentID, and the DepartmentID is dependent on the primary key EmployeeID, you have a transitive dependency. These department details should be moved to a separate Departments table.